* {
    font-family: "Press Start 2P", system-ui;
    color: #4b4d5a;
    font-size: 16px;
    text-align: center;
    user-select: text;
}

::selection {
    background-color: #9898982d;
}

html {
    /* ? Некорректное отображение размера*/
    min-height: 100vh;
    min-width: 100vh;
}

body {
    background-color: #111112;
    /* ? Некорректное отображение размера*/
    min-height: 100vh;
    min-width: 100vh;
}

button {
    background-color: #212127;
    border: 0;
    .button__pic {
        filter: saturate(0%) brightness(70%);
    }
    cursor: pointer;
}

button:hover {
    background-color: #363640;
    color: #cea356;
    .button__pic {
        filter: saturate(100%);
    }
}

button:active {
    color: #aa8746;
    .button__pic {
        filter: brightness(60%);
    }
    background-color: #1e1e23;
}

.button__pic {
    height: 30px;
}

.header {
    background-color: #141417;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.account-pic {
    height: 40 px;
}

.account-button {
    border-radius: 40px;
    aspect-ratio: 1;
    position: absolute;
    right: 4px;
    top: 9px;
    margin: 2
}

.search-case__button {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    position: relative;
    top: 13px;
}


.header__search-case {
    position: relative;
    top: 6px;
    color: #cea356;
    background-color: #212127;
    border: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 50%;
    width: 40%;
    text-overflow: ellipsis;
    z-index: 1;
}

.logo {
    position: relative;
    padding-top: 75px;
    padding-bottom: 15px;
    width: 600px;
}

.logo-text {
    margin-bottom: 30px;
}

.select-menu {
    width: 400px;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 7px;
    color:#4b4d5a;
    font-size: 24px;
}

/* ! Найти способ прилипания к краям кнопки */
.select-menu__pic {
    height: 60%;
    margin-left: 10px;
    margin-right: 10px;

}